.container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #8dcaff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.header > h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.weather-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;   
    color: #333;
}

#temperature {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 0 5px;
}

#condition-text {
    font-size: 1em;
    margin-bottom: 10px;
}

#condition-icon {
    width: 150px;
    height: 150px;
}

#city {
    font-size: 0.8em;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #333;
    font-weight: bold;
}

.wind-speed, .feels-like, .humidity {
    border: 1px solid #2d0794;
    border-radius: 5px;
    text-align: center;
    padding: 5px 5px;
    flex:content;
}

#last-updated {
    text-align: center;
    font-size: 0.8em;
    color: #333;
}